<?xml version="1.0"?>
<!--
/**
 * @author Monogo
 * @copyright Copyright (c) 2020 Monogo (https://monogo.pl)
 * @package Monogo_DisableCustomerLog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <monogo_disablecustomerlog>
            <general>
                <enabled>0</enabled>
            </general>
        </monogo_disablecustomerlog>
    </default>
</config>